{% extends "skeleton.html" %}
{% load smart_image %}
{% block header-title %}{{ block.super }} - Form without model{% endblock header-title %}
{% block header-resource %}
    {{ form.media }}
{% endblock header-resource %}
{% block content %}
<div>
    <h1>Form without model</h1>

    <p><em>Nothing will be saved from this form</em></p>

    <form method="post" action="{% url 'sample:imageitem-form' %}">
        {% csrf_token %}
        {% for field in form %}
            <div id="{{ field.html_name }}">
                {{ field.label_tag }}
                {{ field.as_widget }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
