{% load static i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>{% spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block header-title %}Django smart media{% endblock header-title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    {% block header-resource %}{% endblock header-resource %}
    {% endspaceless %}
    </head>

    <body>{% spaceless %}
        <div id="page-body" class="d-grid gap-3 p-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Django smart media</a>

                </div>
            </nav>
            <div id="page-content" class="container-xxl">
                {% block base_content %}{% endblock base_content %}
            </div>
        </div>

        <script src="{% static "js/main.js" %}"></script>
    {% endspaceless %}</body>
</html>

